/*
Project     : Skeletonboard
Filename    : pages/_logout.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----
*/

.form__logout{ 

    .x3_card{

        width  : 400px;
        margin : 200px auto 0 auto;
        
    }

}